<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= auto_discovery_link_tag :rss, articles_url(:format => :rss) %>

    <title>Blogger</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render 'shared/navigation' %>
    </header>

    <main>
      <%= render 'shared/messages' %>

      <div class="row">
        <div class="small-9 columns">
          <%= yield %>
        </div>
        <div class="small-3 columns">
          <%= render 'shared/sidebar' %>
        </div>
      </div>
    </main>

    <footer>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <p>
            The year is <%= Date.today.year %>
          </p>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
